* {
  margin: 0;
}

.recomendation-cards {
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  width: 30%;
}

.container-share-and-favorite-btn {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-btn-start-recipe {
  align-items: center;
  display: flex;
  justify-content: center;
}

.start-recipe {
  bottom: 0;
  position: fixed;
}
