* {
  margin: 0;
}

.selectedDrink {
  background-color: rgba(175, 171, 171, 0);

}

.selectedexplorer {
  background-color: rgba(175, 171, 171, 0);
}

.selectedMeal {
  background-color: rgb(175, 171, 171);
  border: 2px solid rgb(103, 100, 100);
}
