* {
  margin: 0;
}

.selectedDrink {
  background-color: rgba(175, 171, 171, 0);

}

.selectedexplorer {
  background-color: rgba(175, 171, 171, 0);
}

.boxButtons {
  display: flex;
  flex-wrap: wrap;
}

.foodsCategorySection {
  flex-wrap: wrap;
  height: 27%;
  justify-content: center;
  overflow-y: scroll;
  text-align: center;
  width: 100vh;
}

.container-recipes-card {
  display: flex;
  flex-flow: wrap;
}
