.card {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding-top: 10px;
  transition: 1s;
  width: 150px;
}

.card:hover {
  width: 170px;
}

.card img {
  border-radius: 5px;
  width: 100%;
}

.card p {
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}
