.boxCard {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  margin-left: 20px;
  padding-top: 10px;
  transition: 1s;
  width: 150px;
}

.boxCard:hover {
  width: 170px;
}

.boxCard img {
  border-radius: 5px;
  width: 100%;
}

.boxCard p {
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}

.boxScreen {
  flex-direction: row;
}
