* {
  margin: 0;
}

.buttonSelected {
  background-color: #28a745;
}

.buttonCategory_Food {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: center;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.buttonCategory_Food button {
  border: none;
  border-radius: 6px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
}
