* {
  margin: 0;
}

header {
  align-items: baseline;
  background-color: rgb(150, 145, 145);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.searchButton {
  background-color: rgba(248, 247, 247, 0);
  border: none;
  height: 5px;
}

.searchInput {
  border-radius: 10px;
}

.title {
  padding-right: 30%;
}
