.footer {
  background-color: rgb(252, 145, 58);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}

.link {
  height: 50px;
  margin: auto;
  margin-left: 1px;
  padding-top: 10px;
  width: 33%;
}

.link img {
  margin-right: 20px;
  padding-left: 40%;
  padding-right: 20px;
}

.link:hover {
  background-color: rgb(248, 197, 155);
}
